workflows/statemachine_complete.json
{
  "Comment": "A single step workflow that Aylienizes URL text and transforms the output",
  "StartAt": "Transform",
  "States": {
    "Transform": {
      "Type": "Task",
      "InputPath":"$.transformers", 
      "Resource": "arn:aws:lambda:us-east-1:078421894314:function:transformer-dev-transform",
      "Next": "Together"
    },
    "Together":{
      "Type": "Parallel",
      "Branches": [
			{
			 "StartAt": "Store",
				 "States":{
				   "Store":{
					 "Type": "Task",
					 "Resource":
					   " arn:aws:lambda:us-east-1:078421894314:function:storers-dev-store",
					 "End": true
				   }  
				}
			},
			{
			 "StartAt": "Aggregate",
			 "States":{
			   "Aggregate":{
				 "Type": "Task",
				 "Resource":
				   "arn:aws:lambda:us-east-1:078421894314:function:aggregators-dev-aggregate",
				 "Next": "StoreAgg"
			   },
			   "StoreAgg":{
				 "Type": "Task",
				 "Resource":
				   "arn:aws:lambda:us-east-1:078421894314:function:storers-dev-store",
				 "End": true
			   }  
			}
			}
		],
      "End": true
    }
  }
}