workflows/statemachine2.json
{
  "Comment": "A workflow that Aylienizes URL text and transforms the output",
  "StartAt": "AylienizeURL",
  "States": {
    "AylienizeURL": {
      "Type": "Task",
      "InputPath":"$", 
      "ResultPath":"$.snapshots", 
      "OutputPath":"$", 
      "Resource": "arn:aws:lambda:us-east-1:078421894314:function:transformer-dev-transform",
      "Next": "Together"
    },
    "Together":{
      "Type": "Parallel",
      "Branches": [
			{
			 "StartAt": "MoveAylienDataToMongo",
				 "States":{
				   "MoveAylienDataToMongo":{
					 "Type": "Task",
                     "InputPath":"$", 
					 "Resource":
					   "arn:aws:lambda:us-east-1:078421894314:function:storers-dev-store",
					 "End": true
				   }  
				}
			},
			{
			 "StartAt": "AggregateSentimentForUpstreamStatistics",
				 "States":{
				   "AggregateSentimentForUpstreamStatistics":{
					 "Type": "Task",
					 "InputPath":"$",
					 "ResultPath":"$.snapshots",				 
					 "OutputPath":"$",
					 "Resource":
					   "arn:aws:lambda:us-east-1:078421894314:function:sentimentors-dev-aggregator",
					 "Next": "AggregateAspectDataForUpstreamStatistics"
				   }, 
				   "AggregateAspectDataForUpstreamStatistics":{
					 "Type": "Task",
					 "InputPath":"$",
					 "ResultPath":"$.snapshots",				 
					 "OutputPath":"$",
					 "Resource":
					 "arn:aws:lambda:us-east-1:078421894314:function:aspector-dev-aggregator",
					 "Next": "StoreAggregatedData"
				   },
				   "StoreAggregatedData":{
					 "Type": "Task",
					 "InputPath":"$",
					 "Resource":
					   "arn:aws:lambda:us-east-1:078421894314:function:storers-dev-store",
					 "End": true
				   } 
				}			   
			}						
		],
      "End": true
    }
  }  
}